h1(style="font-family: sans-serif;") New Contact Submission
p(style="font-family: sans-serif;") #{name} has submitted the contact form with the following information:
ul(style="font-family: sans-serif;")
	li Name: #{name}
	li Email: #{email}
	li Service: #{service}
	li Message: #{message}