<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Jorge Gallego">
        <meta name="title" content="Jorge Gallego - Full Stack Web Developer">
        <meta name="keywords" content="Jorge, Gallego, Jorge Gallego, Full Stack developer, Full Stack Web Developer, Web Developer, Front End developer, Front End Web Developer, Back End developer, Back End Web developer, Vue developer, Node developer, Node.js, Vue.js, VueJS, Flask developer, Django developer, MySQL, PostgreSQL, MongoDB, jQuery, MP Consultores SAS, NGINX, Ubuntu, VPS, Virtual Private Server, Databse Design, Database Administration, DBD, DBA, DBD/DBA, Web Designer, Universidad del Rosario, Web developer near me, Web developer in Bogota, Web developer in Colombia">
        <meta name="description" content="My name is Jorge Gallego, and I'm a Full Stack Web developer. I am skilled and experienced in using nothing but the best tools in the market for web development, which allows me to help businesses establish and grow a virtual presence while also driving in new visitors to their website and new clients to the company.">
        <title>Jorge Gallego - Full Stack Web Developer</title>
        <link rel="canonical" href="https://jorgegallego.me">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Raleway:wght@400;500;600;700&family=Zilla+Slab&family=Poppins&family=Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/index.css">
        <script src="https://kit.fontawesome.com/313f6b6c56.js" crossorigin="anonymous"></script>
        <%- include('partials/google') %> 
    </head>
    <body>
        <button class="color-theme" onclick="changeColorTheme()">
            <i class="bi-sun-fill" title="Switch to Dark Mode"></i>
        </button>
        <section id="title">
            <nav>
                <article>
                    <aside class="expand-menu">
                        <i class="bi-list"></i>
                    </aside>
                    <aside class="links">
                        <a href="#about" class="link">ABOUT</a>
                        <a href="#experience" class="link">EXPERIENCE</a>
                        <a href="#portfolio" class="link">PORTFOLIO </a>
                        <a href="#education" class="link">EDUCATION</a>
                        <a href="#contact" class="link">CONTACT</a>
                    </aside>
                </article>
            </nav>
            <article class="center">
                <a href="#" class="index">
                    <img src="/images/profile.jpg" width="125" height="125" alt="Jorge Gallego">
                </a>
                <h1>I'm Jorge</h1>
                <p>A Web Designer/Developer</p>
            </article>
            <a href="#about">
                <i class="bi-arrow-down-short"></i>
            </a>
        </section>
        <section id="about">
            <h2>About Me</h2>
            <article class="row">
                <aside class="col-md-6">
                    <p>I'm a Colombian <strong>Full Stack Web Developer</strong> skilled and experienced in Web Development <em>languages and tools</em> for both <span id="front" onclick="expand(this.id)">Front End</span> and <span id="back" onclick="expand(this.id)">Back End</span> Development, as well as <span id="db" onclick="expand(this.id)">Database Design (DBD) and Administration (DBA)</span>.</p>
                    <p>I also often work on each of these aspects separately, always using the best and most up-to-date tools in the market.</p>
                </aside>
                <aside class="col-md-6">
                    <div class="accordion" id="front">
                        <div class="summary active">
                            <h3>Front End technologies</h3>
                            <i class="bi-chevron-up"></i>
                        </div>
                        <div class="info">
                            <ul class="show">
                                <li>jQuery</li>
                                <li>VueJS</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion" id="back">
                        <div class="summary">
                            <h3>Back End technologies</h3>
                            <i class="bi-chevron-down"></i>
                        </div>
                        <div class="info">
                            <ul>
                                <li>NodeJS/ExpressJS</li>
                                <li>Flask/Django</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion" id="db">
                        <div class="summary">
                            <h3>DBD/DBA technologies</h3>
                            <i class="bi-chevron-down"></i>
                        </div>
                        <div class="info">
                            <ul>
                                <li>MySQL</li>
                                <li>PostgreSQL</li>
                                <li>MongoDB</li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </article>
            <p class="icons">
                <i class="fab fa-vuejs fa-5x"></i>
                <i class="fab fa-python fa-5x"></i>
                <br>
                <i class="fab fa-node-js fa-5x"></i>
                <i class="fas fa-database fa-5x"></i>
            </p>
        </section>
        <section id="experience">
            <h2>Experience</h2>
            <article class="row">
                <aside class="col-md-6">
                    <h3>MP Consultores SAS</h3>
                    <p class="job">Full Stack Web Developer</p>
                </aside>
                <aside class="col-md-6">
                    <p>Responsibilities:</p>
                    <ul>
                        <li>Design the Front End of the website on Canva.</li>
                        <li>Create the Back End logic of the web app with JavaScript (NodeJS/ExpressJS).</li>
                        <li>Write the HTML5, CSS3, and JavaScript code to implement the agreed upon design.</li>
                        <li>Deploy the company's app using NGINX and PM2 on Ubuntu 20.04.</li>
                    </ul>
                </aside>
            </article>
            <p class="icons">
                <i class="fab fa-node fa-5x"></i>
                <i class="fab fa-js-square fa-5x"></i>
                <i class="fab fa-ubuntu fa-5x"></i>
            </p>
        </section>
        <section id="portfolio">
            <h2>Portfolio</h2>
            <article class="card-group">
                <% for (let project of projects) { %>
                    <div class="card">
                        <div class="card-header">
                            <h3><%- project.name %></h3>
                            <a href="<%- project.target %>" target="_blank" rel="noopener noreferrer">View Project</a>
                        </div>
                        <div class="card-body">
                            <img src="<%- project.img.source %>" alt="<%- project.img.alt %>">
                            <p><%= project.description %></p>
                        </div>
                    </div>
                <% } %>
            </article>
            <button>
                See All
            </button>
        </section>
        <section id="education">
            <h2>Education</h2>
            <article class="card">
                <aside class="card-header">
                    <h3>College</h3>
                </aside>
                <aside class="card-body">
                    <img src="/images/logour.png" width="200" height="200" alt="Logo Universidad del Rosario">
                    <p>
                        B.Sc Applied Mathematics and Computer Science
                        <br>
                        <a href="https://urosario.edu.co" target="_blank" rel="noreferrer">Universidad del Rosario</a>
                        <br>
                        <a href="https://www.urosario.edu.co/Escuela-de-Ingenieria-Ciencia-y-Tecnologia/Inicio/" target="_blank" rel="noreferrer">School of Engineering, Science and Technology</a>
                        <br>
                        Calle 12C No. 6 - 25
                        <br>
                        Bogotá D.C., Colombia
                    </p>
                </aside>
                <aside class="card-footer">
                    2020 - (Current)
                </aside>        
            </article>
            <article class="card">
                <aside class="card-header">
                    <h3>Courses</h3>
                </aside>
                <aside class="card-body">
                    <p>
                        <a href="https://cs50.harvard.edu/x/2021/" target="_blank" rel="noreferrer">
                            CS50's Introduction to Computer Science
                        </a>
                        <br>
                        (2020)
                        <br>
                        <a href="https://www.online.umich.edu/courses/introduction-to-html5/" target="_blank" rel="noreferrer">
                            Introduction to HTML5
                        </a>
                        <br>
                        (2020)
                        <br>
                        <a href="https://www.online.umich.edu/courses/introduction-to-css3/" target="_blank" rel="noreferrer">
                            Introduction to CSS3
                        </a>
                        <br>
                        (2020)
                        <br>
                        <a href="https://www.online.umich.edu/courses/interactivity-with-javascript/" target="_blank" rel="noreferrer">
                            Interactivity with JavaScript
                        </a>
                        <br>
                        (2020)
                        <br>
                        <a href="https://www.online.umich.edu/courses/advanced-styling-with-responsive-design/" target="_blank" rel="noreferrer">
                            Advanced Styling with Responsive Design
                        </a>
                        <br>
                        (2020)
                        <br>
                        <a href="https://cs50.harvard.edu/web/2020/" target="_blank" rel="noreferrer">
                            CS50's Web programming with Python and JavaScript
                        </a>
                        <br>
                        (2020-2021)
                        <br>
                        <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/" target="_blank" rel="noreferrer">
                            The Complete 2021 Web Development Bootcamp
                        </a>
                        <br>
                        (Current)
                    </p>
                </aside>
            </article>
        </section>
        <footer id="contact">
            <h2>Contact Me</h2>
            <p>Feel free to contact me by filling out the form below or directly through my <a href="mailto:jorgegallegoherrera@gmail.com">email</a></p>
            <form method="POST" autocomplete="off">
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" placeholder="Jorge Gallego" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="jorgegallegoherrera@gmail.com" required>
                <label for="service">Service: </label>
                <select id="service" name="service" required>
                    <option value="Front End">Front End Development</option>
                    <option value="Back End">Back End Development</option>
                    <option value="Full Stack">Full Stack Development</option>
                </select>
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="5" required></textarea>
                </label>
                <input type="submit" value="Send">
            </form>
            <h2>Follow Me</h2>
            <p class="icons">
                <a href="https://www.linkedin.com/in/jorge-gallego-6b641b1b1/" target="_blank" title="LinkedIn" rel="noreferrer">
                    <i class="bi-linkedin"></i>
                </a>
                <a href="http://twitter.com/jorge__gallego" target="_blank" title="Twitter" rel="noreferrer">
                    <i class="bi-twitter"></i>
                </a>
                <a href="https://github.com/Jorge644240" target="_blank" title="GitHub" rel="noreferrer">
                    <i class="bi-github"></i>
                </a>
            </p>
        </footer>
        <script src="/js/colorTheme.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>