<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Jorge Gallego">
        <meta name="title" content="<%= title %>">
        <meta name="keywords" content="Jorge, Gallego, Jorge Gallego, Full Stack developer, Full Stack Web Developer, Web Developer, Front End developer, Front End Web Developer, Back End developer, Back End Web developer, Vue developer, Node developer, Node.js, Vue.js, VueJS, Flask developer, Django developer, MySQL, PostgreSQL, MongoDB, jQuery, MP Consultores SAS, NGINX, Ubuntu, VPS, Virtual Private Server, Database Design, Database Administration, DBD, DBA, DBD/DBA, Web Designer, Universidad del Rosario, Web developer near me, Web developer in Bogota, Web developer in Colombia, Full Stack, Front End, Back End, CSS3, JS, JavaScript, HTML5, Back End Development, Full Stack Web Developer Portfolio, Web Developer Online Portfolio, Web Devevloer Portfolio">
        <meta name="description" content="My name is Jorge Gallego, and I'm a Full Stack Web developer. I am skilled and experienced in using nothing but the best tools in the market for web development, which allows me to help businesses establish and grow a virtual presence while also driving in new visitors to their website and new clients to the company.">
        <title><%= title %></title>
        <%- include('partials/links') %> 
        <%- include('partials/google') %> 
    </head>
    <body>
        <button class="color-theme" onclick="changeColorTheme()">
            <i class="bi-sun-fill" title="Switch to Dark Mode"></i>
        </button>
        <header id="title">
            <nav>
                <article>
                    <aside class="expand-menu">
                        <i class="bi-list"></i>
                    </aside>
                    <aside class="links">
                        <a href="/" class="link">HOME</a>
                        <a href="#portfolio" class="link">PORTFOLIO</a>
                    </aside>
                </article>
            </nav>
            <article class="center">
                <h1>My Portfolio</h1>
            </article>
            <a href="#portfolio">
                <i class="bi-arrow-down-short"></i>
            </a>
        </header>
        <section id="portfolio">
            <article class="card-group">
                <% for (let project of projects) { %>
                    <div class="card">
                        <div class="card-header">
                            <h3><%= project.name %></h3>
                            <a href="<%= project.target %>" target="_blank" rel="noopener noreferrer">View Project</a>
                        </div>
                        <div class="card-body">
                            <img src="<%= project.img.source %>" alt="<%= project.img.alt %>">
                            <p><%= project.description %></p>
                        </div>
                    </div>
                <% } %>
            </article>
        </section>
        <footer>
            <%- include('partials/footer') %> 
        </footer>
        <script src="/js/colorTheme.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>